<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Mintaka predictive</h1>
            <hr>
            <p>We help enterprises and governments to realise the potential and value of their data through a comprehensive and realistic evaluation of their capabilities. We are typically invited to work with organisations experiencing one of the following problems:</p>
            <p> 
            1. They’re unable to measure the things they need to measure to succeed. <br>
            2. They’re unable to derive actionable insight from their data modelling. <br>
            3. Their models do not work as advertised.</p>
            <p>Sound familiar?</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Get in touch</a>
        </div>
    </div>
</header>
